@import '../../../assets/styles/colors.scss';

.select {
  margin-top: 4px;
  width: 100%;
  height: 40px;
  border: 1px solid $border;
  border-radius: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  box-sizing: border-box;
  padding: 0 1rem;
  padding-right: 4rem;
  cursor: pointer;

  .arrow {
    position: absolute;
    right: 1rem;
    transform: rotate(180deg);
    transition: transform 0.1s linear;
  }

  &.open {
    .arrow {
      transform: rotate(0deg);
    }
  }
}
